* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e5ffffa7;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #321c5b;
    padding: 10px 20px;
    color: white;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.auth-buttons button {
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.auth-buttons .login {
    background: white;
    color: #3b2a5a;
}

.auth-buttons .signup {
    background: #405ccc;
    color: white;
}


.nav {
    text-align: center;
    padding: 80px 20px;
    background: #2a94a2;
    background-image: url('img/wp.webp');
    background-repeat: no-repeat;
    background-size: 1900px 300px;
}


.search-bar input {
    padding: 10px;
    margin: 10px;
    width: 200px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #4703c7;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.search-barr button {
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    background-color: #4703c7;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
   
}


.stats {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 20px;
    margin: 20px 0;
}

.stat-item h2 {
    color: #280d58;
}

footer {
    background-color: #220951;
    color: white;
    padding: 20px;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 5px;
}

.grooming-text {
    background-color: #7641da;
    color: white;
    padding: 30px;
    text-align: center;
    margin: 20px;
}

.grooming-img {
    color: white;
    padding: 30px;
    text-align: center;
    margin: 20px;
}
